[color]
	ui = auto
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
    tree = log --all --graph --oneline --decorate
    rg = !git ls-files | xargs rg
    co = checkout
[github]
	user = youxkei
[push]
	default = simple
	followTags = true
[fetch]
	prune = true
[rebase]
	autostash = true
	autosquash = true
[pull]
	rebase = true
[diff]
	algorithm = histogram
	compactionHeuristic = true
	indentHeuristic = true
[user]
	useConfigOnly = true
[grep]
	lineNumber = true
