[user]
	name = youxkei
	email = youxkei@gmail.com
[color]
	ui = auto
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    ag = !git ls-files | xargs ag
    wipush = !git add --all && git commit -m "wip" && git branch wip/$(git rev-parse --abbrev-ref HEAD) && git push -u origin wip/$(git rev-parse --abbrev-ref HEAD) && git reset --hard HEAD^
    wipull = !git fetch && git reset --hard origin/wip/$(git rev-parse --abbrev-ref HEAD) && git reset HEAD^ && git push origin :wip/$(git rev-parse --abbrev-ref HEAD) && git fetch
[github]
	user = youxkei
[push]
	default = simple
	followTags = true
[fetch]
	prune = true
