[user]
	name = youxkei
	email = youxkei@gmail.com
[color]
	ui = auto
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[alias]
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
    ag = !git ls-files | xargs ag
[github]
	user = youxkei
[push]
	default = simple
	followTags = true
[fetch]
	prune = true
