export OPENWEATHERMAP_API_KEY=""
export OPENWEATHERMAP_CITY_ID=""

export YAHOO_APPID=""
export YAHOO_LONGITUDE=""
export YAHOO_LATITUDE=""

export GOOGLE_APPLICATION_CREDENTIALS=""

export TIMER_ALERM_FILE=""
