[Desktop Entry]
Name=i3 + Nix
Comment=improved dynamic tiling window manager
Exec=zsh -lc $HOME/.nix-profile/bin/i3
TryExec=$HOME/.nix-profile/bin/i3
TryExec=zsh
Type=Application
X-LightDM-DesktopName=i3
DesktopNames=i3
Keywords=tiling;wm;windowmanager;window;manager;
